<div class="bg-white shadow rounded-xl p-6 max-w-xl">

  <div class="mb-4">
    <label class="block text-sm font-medium mb-1">
      Nom du produit
    </label>
    <input
      type="text"
      [(ngModel)]="formData.name"
      class="w-full border rounded-lg px-3 py-2" />
  </div>

  <div class="mb-4">
    <label class="block text-sm font-medium mb-1">
      Prix
    </label>
    <input
      type="number"
      [(ngModel)]="formData.price"
      class="w-full border rounded-lg px-3 py-2" />
  </div>

  <div class="mb-6">
    <label class="block text-sm font-medium mb-1">
      Catégorie
    </label>
    <select
      [(ngModel)]="formData.category_product"
      class="w-full border rounded-lg px-3 py-2">

      @for (cat of categories; track cat._id) {
        <option [value]="cat._id">
          {{ cat.name }}
        </option>
      }
    </select>
  </div>

  <button
    (click)="submit()"
    class="bg-blue-500 hover:bg-blue-600 text-white px-6 py-2 rounded-lg">
    @if(edit){
      Modifier
    }@else {
      Ajouter
    }
  </button>

</div>
